# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [3]:
df = pd.read_csv('Salaries.csv')
df.columns
df2 = df[['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay']]
df2

,Id,EmployeeName,JobTitle,BasePay,OvertimePay
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00
...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00
148650,148651,Not provided,Not provided,NaN,NaN
148651,148652,Not provided,Not provided,NaN,NaN
148652,148653,Not provided,Not provided,NaN,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00

In [4]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [5]:
pd.set_option('display.max_rows',80)

In [6]:
df.head(80)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
30,31,HARLAN KELLY-JR,EXECUTIVE CONTRACT EMPLOYEE,234325.02,0.00,25972.64,NaN,260297.66,260297.66,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254027.63,0.00,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
32,33,GARY AMELIO,DEPARTMENT HEAD V,248895.70,0.00,10789.18,NaN,259684.88,259684.88,2011,NaN,San Francisco,NaN
33,34,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861.39,50227.61,103499.39,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781.25,59924.97,20658.00,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953.20,139102.95,16483.94,NaN,257540.09,257540.09,2011,NaN,San Francisco,NaN
36,37,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.00,12000.00,NaN,257124.44,257124.44,2011,NaN,San Francisco,NaN
37,38,JAMES BOSCH,"INSPECTOR III, (POLICE DEPARTMENT)",110661.20,31162.04,111446.20,NaN,253269.44,253269.44,2011,NaN,San Francisco,NaN
38,39,JONES WONG,LIEUTENANT III (POLICE DEPARTMENT),132202.26,52648.92,67083.83,NaN,251935.01,251935.01,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,59760.90,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218930.76,4078.00,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
43,44,MICHAEL THOMPSON,FIREFIGHTER,123013.02,111729.65,15575.26,NaN,250317.93,250317.93,2011,NaN,San Francisco,NaN
44,45,SHARON MCCOLE WICHER,NURSING SUPERVISOR PSYCHIATRIC,196081.86,0.00,54040.18,NaN,250122.04,250122.04,2011,NaN,San Francisco,NaN
45,46,EDWIN LEE,MAYOR,249375.02,0.00,0.00,NaN,249375.02,249375.02,2011,NaN,San Francisco,NaN
46,47,BRYAN RUBENSTEIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.64,66199.23,14401.43,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN
47,48,TRENT RHORER,DEPARTMENT HEAD V,248895.77,0.00,0.00,NaN,248895.77,248895.77,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,DEPUTY CHIEF III (POLICE DEPARTMENT),233867.60,0.00,14851.04,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN
49,50,KEN YEE,"LIEUTENANT, FIRE DEPARTMENT",137729.92,89856.01,20848.46,NaN,248434.39,248434.39,2011,NaN,San Francisco,NaN
50,51,KIRK RICHARDSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,58084.86,20477.16,NaN,247254.61,247254.61,2011,NaN,San Francisco,NaN
51,52,BARBARA GARCIA,DEPARTMENT HEAD V,246305.62,0.00,0.00,NaN,246305.62,246305.62,2011,NaN,San Francisco,NaN
52,53,MICHAEL ROLOVICH,"CAPTAIN, FIRE SUPPRESSION",140546.87,77937.25,26203.69,NaN,244687.81,244687.81,2011,NaN,San Francisco,NaN
53,54,DARRYL HUNTER,"CAPTAIN, FIRE SUPPRESSION",140546.88,73207.61,28988.36,NaN,242742.85,242742.85,2011,NaN,San Francisco,NaN
54,55,RAY CRAWFORD,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.89,82428.76,18310.77,NaN,241286.42,241286.42,2011,NaN,San Francisco,NaN
55,56,KEVIN CASHMAN,DEPUTY CHIEF III (POLICE DEPARTMENT),226206.80,0.00,15004.37,NaN,241211.17,241211.17,2011,NaN,San Francisco,NaN
56,57,BENJAMIN ROSENFIELD,DEPARTMENT HEAD V,240731.93,0.00,114.37,NaN,240846.30,240846.30,2011,NaN,San Francisco,NaN
57,58,MARK KEARNEY,ASSISTANT DEPUTY CHIEF II,217410.80,0.00,22608.30,NaN,240019.10,240019.10,2011,NaN,San Francisco,NaN
58,59,DOUGLAS RIBA,INCIDENT SUPPORT SPECIALIST,115381.02,105028.94,19016.40,NaN,239426.36,239426.36,2011,NaN,San Francisco,NaN
59,60,AI-KYUNG CHUNG,ANESTHETIST,214745.44,9161.31,14972.45,NaN,238879.20,238879.20,2011,NaN,San Francisco,NaN
60,61,KENNETH SMITH,"LIEUTENANT, FIRE DEPARTMENT",123105.00,99584.94,16113.62,NaN,238803.56,238803.56,2011,NaN,San Francisco,NaN
61,62,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),102571.24,7437.00,128543.64,NaN,238551.88,238551.88,2011,NaN,San Francisco,NaN
62,63,JAMES FAZACKERLEY,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.86,80411.90,17542.29,NaN,238501.05,238501.05,2011,NaN,San Francisco,NaN
63,64,CHARLES CRANE,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,54342.28,15444.38,NaN,238479.28,238479.28,2011,NaN,San Francisco,NaN
64,65,GREGORY MAR,LIEUTENANT III (POLICE DEPARTMENT),148970.43,66977.63,21889.67,NaN,237837.73,237837.73,2011,NaN,San Francisco,NaN
65,66,RICHARD PARRY,CAPTAIN III (POLICE DEPARTMENT),185369.69,37873.61,14465.53,NaN,237708.83,237708.83,2011,NaN,San Francisco,NaN
66,67,ROBERT POSTEL,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",177914.76,36644.57,22785.08,NaN,237344.41,237344.41,2011,NaN,San Francisco,NaN
67,68,EDWARD ROLAND,"CAPTAIN, FIRE SUPPRESSION",139167.39,66596.28,31070.15,NaN,236833.82,236833.82,2011,NaN,San Francisco,NaN
68,69,THOMAS SHAWYER,DEPUTY CHIEF III (POLICE DEPARTMENT),122974.00,0.00,113226.92,NaN,236200.92,236200.92,2011,NaN,San Francisco,NaN
69,70,WING CHAN,INCIDENT SUPPORT SPECIALIST,115455.44,104632.95,14776.81,NaN,234865.20,234865.20,2011,NaN,San Francisco,NaN
70,71,GEORGE GASCON,DISTRICT ATTORNEY,220983.12,0.00,13864.99,NaN,234848.11,234848.11,2011,NaN,San Francisco,NaN
71,72,RICHARD BUSALACCHI,"BATTALION CHIEF, (FIRE DEPARTMENT)",92782.61,5477.62,135684.25,NaN,233944.48,233944.48,2011,NaN,San Francisco,NaN
72,73,LAWRENCE FREED,"ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR",95770.80,118949.93,18743.90,NaN,233464.63,233464.63,2011,NaN,San Francisco,NaN
73,74,MONIQUE MOYER,PORT DIRECTOR,233357.28,0.00,0.00,NaN,233357.28,233357.28,2011,NaN,San Francisco,NaN
74,75,ANTONIO FLORES,"INSPECTOR III, (POLICE DEPARTMENT)",130457.88,51864.26,50380.44,NaN,232702.58,232702.58,2011,NaN,San Francisco,NaN
75,76,MARK GAMBLE,"INSPECTOR III, (POLICE DEPARTMENT)",85578.61,42878.01,104030.10,NaN,232486.72,232486.72,2011,NaN,San Francisco,NaN
76,77,KEVIN BURKE,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,16876.74,40258.39,NaN,232007.77,232007.77,2011,NaN,San Francisco,NaN
77,78,BERT REYES,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",73754.05,18679.06,139279.69,NaN,231712.80,231712.80,2011,NaN,San Francisco,NaN
78,79,MICHAEL DELANE,"CAPTAIN, FIRE SUPPRESSION",140546.88,62283.70,28821.55,NaN,231652.13,231652.13,2011,NaN,San Francisco,NaN
79,80,EDUARDO GONZALEZ,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,35096.74,27802.89,NaN,231592.25,231592.25,2011,NaN,San Francisco,NaN

### CSV Output

In [7]:
df2.to_csv('murugan.csv',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [8]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.7/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.7/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [9]:
import openpyxl
ex = pd.read_excel('Project-01_Excel_Data.xlsx',sheet_name='Data')
ex

,Name of Child,Date of Birth,Place of Birth,MyKid Number,Citizenship,Family Income (estimated),Application Type,Application Date,Amount,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Victoria,2018-04-03,"Selangor State, Malaysia",183926,Foreign,6254,BKK,2020-10-26,150,NaN,NaN,NaN
1,Ava,2019-02-05,"Johor State, Malaysia",826919,Foreign,9526,BKK,2022-03-08,200,NaN,NaN,Liam
2,David,2023-05-07,"Penang State, Malaysia",940662,Foreign,8956,BKK,2020-07-21,200,NaN,NaN,Olivia
3,Grace,2005-05-18,"Johor State, Malaysia",353972,Foreign,7159,BKK,2021-02-11,150,NaN,NaN,Noah
4,Daniel,2014-05-20,"Johor State, Malaysia",693488,Foreign,7817,BKK,2020-05-30,150,NaN,NaN,Emma
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Dylan,2011-04-23,"Johor State, Malaysia",986256,Malaysian,6457,BKK,2021-04-18,150,NaN,NaN,NaN
95,Ava,2018-08-16,"Johor State, Malaysia",998803,Foreign,9366,BKK,2021-04-27,200,NaN,NaN,NaN
96,William,2010-02-25,"Johor State, Malaysia",910972,Others,6058,BKK,2022-11-02,150,NaN,NaN,NaN
97,Evelyn,2010-03-11,"Penang State, Malaysia",940334,Others,8695,BKK,2020-03-20,150,NaN,NaN,NaN
98,William,2006-05-04,"Penang State, Malaysia",297587,Foreign,8778,BKK,2023-05-31,150,NaN,NaN,NaN

### Excel Output

In [ ]:
ex.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

### HTML Input/Output

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [ ]:
import pandas as pd

dfs = pd.read_html('data.html')

# dfs is a list of DataFrames (since there can be multiple tables in an HTML file)
# Select the first DataFrame from the list (if there's only one table)
df = dfs[0]

# Now df contains the data from the HTML table as a pandas DataFrame
print(df)

In [12]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Arun', 'Prajakta', 'Kavita'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

df = pd.DataFrame(data)

# Save the DataFrame as an HTML table in 'output.html' file
df.to_html('output.html', index=False)

print("DataFrame saved as 'output.html' file.")

DataFrame saved as 'output.html' file.

### JSON Input/Output

In [13]:
import pandas as pd

# Read JSON file into a pandas DataFrame
df = pd.read_json('data.json')

# Now df contains the data from the JSON file as a pandas DataFrame
print(df)

       name  age  salary
0     Rekha   25   50000
1     Ruchi   30   60000
2  Yuvarani   35   70000

In [14]:
import pandas as pd

# Sample DataFrame
data = {
    'name': ['Rekha', 'Ruchi', 'Yuvarani'],
    'age': [25, 30, 35],
    'salary': [50000, 60000, 70000]
}

df = pd.DataFrame(data)

# Save the DataFrame as a JSON file
df.to_json('output.json', orient='records')

print("DataFrame saved as 'output.json' file.")

DataFrame saved as 'output.json' file.

# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Pythonâ€™s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('sqlite:///:memory:')

In [17]:
df.to_sql('data', engine)

In [18]:
sql_df = pd.read_sql('data',con=engine)

In [19]:
sql_df

   index      name  age  salary
0      0     Rekha   25   50000
1      1     Ruchi   30   60000
2      2  Yuvarani   35   70000

# Great Job!